<div class="header">
    <h1>Settings</h1>
</div>

<form [formGroup]="form">
    <div class="form-group">
        <label>Sounds</label>
        <div>
            <app-checkbox formControlName="sounds"></app-checkbox>
        </div>
    </div>
    <div class="form-group">
        <label>Musics</label>
        <div>
            <app-checkbox formControlName="musics"></app-checkbox>
        </div>
    </div>
</form>

<div class="footer">
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>