@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// custom background and foreground palettes
$quizzy-theme-background: (
  status-bar: green,
  app-bar:    map_get($mat-blue, 900),
  background: red,
  hover:      rgba(white, 0.04), 
  card:       #2a2d35,
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$quizzy-theme-foreground: (
  base:              #ddd,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              #ddd,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-quizzy-theme($primary, $accent, $warn: mat-palette($mat-red)) {
	@return (
	  primary: $primary,
	  accent: $accent,
	  warn: $warn,
	  is-dark: false,
	  foreground: $quizzy-theme-foreground,
	  background: $quizzy-theme-background,
	);
  }

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$quizzy-primary: mat-palette($mat-teal);
$quizzy-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$quizzy-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$quizzy-theme: create-quizzy-theme($quizzy-primary, $quizzy-accent, $quizzy-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($quizzy-theme);